{{define "adminnav.html"}}

<nav class="navbar navbar-expand-sm bg-info">
    <ul class="navbar-nav m-auto">
        <li class="nav-item mx-3">
            <a class="nav-link mx-3 text-white" href="/admin">仪表盘</a>
        </li>
        <li class="nav-item">
            <a class="nav-link mx-3 text-white" href="/">论坛主页</a>
        </li>
        <li class="nav-item">
            <a class="nav-link mx-3 text-white" href="/admin/block">板块管理</a>
        </li>
        <li class="nav-item">
            <a class="nav-link mx-3 text-white" href="/admin/user">用户管理</a>
        </li>
        <li class="nav-item">
            <a class="nav-link mx-3 text-white" href="/admin/setting">论坛设置</a>
        </li>
    </ul>
</nav>

{{end}}